##CMSIS文件夹内的文件不更改## 
##CMSIS/Inc/*.h

##FWLIB文件夹内的文件不更改## 
##FWLIB/src/*.c
##FWLIB/inc/*.h
##FWLIB/SystemInc/*.h
##FWLIB/SystemSrc/*.c

#FWLIB文件夹内的文件可能更改## 
##FWLIB/StartUp/*.s

##Drives文件夹内的文件可能更改## 
!Drives/Inc/*.h
!Drives/Src/*.c

##Interrupt文件夹内的文件可能更改## 
!Interrupt/Inc/*.h
!Interrupt/Src/*.c

##task文件夹内的文件可能更改## 
!task/Inc/*.h
!task/Src/*.c

##UCOSII文件夹内的文件可能更改## 
!UCOSII/uc-BSP/Inc/*.h
!UCOSII/uc-BSP/Src/*.c
!UCOSII/uC-CONFIG/Inc/*.h
!UCOSII/uC-CONFIG/Src/*.c
!UCOSII/uC-CPU/Inc/*.h
!UCOSII/uC-CPU/Src/*.c
!UCOSII/uC-LIB/Inc/*.h
!UCOSII/uC-LIB/Src/*.c

!UCOSII/uCOS-III/Inc/*.h
!UCOSII/uCOS-III/Src/*.c
!UCOSII/uCOS-III/user/

##Project文件夹内的文件不更改 ##
!Project/*
!Project/*.c